@import '../../variables'
.inputContainer
  width: 280px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
label
  font-size: 1rem
  font-weight: 600

input
  padding: .3rem
  background: $button-hover
  @extend %border-with-shadow

@media (max-width: 400px)
  .inputContainer
    flex-direction: column
    width: auto
    gap: .5rem
