@import '../../variables'

.product
  width: 200px
  padding: .5rem .5rem 2rem
  font-size: .9rem
  user-select: none
  @extend %border-with-shadow

.product:hover
  cursor: pointer
  border: 2px solid #444
  background-color: $button-hover

.itemData
  text-align: center

.product input[type="checkbox"]
  width: 15px
  height: 15px
