@import '../../variables'

.header
  display: flex
  justify-content: space-between
  width: 99%
  margin: 0 auto

.buttonsContainer
  display: flex
  gap: 1rem

.hr
  margin: 0 auto
  margin-top: .75rem
  padding: 1px 0
  background: $dark-color

@media (max-width: 400px)
  .header
    flex-direction: column
    align-items: center
    gap: .25rem
